name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'
      - name: gofmt
        run: |
          if [ -n "$(gofmt -l ./cmd ./internal)" ]; then
            echo "Run gofmt" >&2
            gofmt -l ./cmd ./internal
            exit 1
          fi
      - name: Go test
        run: go test ./...
      - name: Snapshot build
        uses: goreleaser/goreleaser-action@v5
        with:
          distribution: goreleaser
          version: latest
          args: build --snapshot --clean
        env:
          GORELEASER_CURRENT_TAG: v0.0.0
